.input-group .form-control.slider-input {
  width: 2em;
  border-radius: 0.25rem !important;
  padding: 0.25em;
  text-align: center;
}

.input-group .form-control.alpha-slider-input {
  width: 3.75em;
  border-radius: 0.25rem !important;
  padding: 0.25em;
  text-align: center;
}
