{% extends "dtale/base.html" %}

{% block full_content %}
<input type="hidden" id="settings" value="{{settings}}" />
<input type="hidden" id="version" value="{{version}}" />
<input type="hidden" id="hide_shutdown" value="{{config.HIDE_SHUTDOWN}}" />
<input type="hidden" id="processes" value={{processes}} />
<div class="container-fluid">
    <div id="content">
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='dist/dtale_bundle.js') }}"></script>
{% endblock %}
