{% extends "dtale/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block full_content %}
<header class="app-header">
    <span class="title-font">D-TALE</span>
    <span style="font-size: 16px" class="pl-5 mt-4">{{popup_title}}</span>
    <nav class="app-header__nav--secondary">
        <ul class="nav-menus">
            {% if grid_links|length > 0 %}
            <li>
                <div class="dropdown">
                    <span class="dropbtn nav-link dropdown-toggle">
                        {{back_to_data}}
                    </span>
                    <div class="dropdown-content">
                        {% for id, label in grid_links %}
                            <a href="{{id}}" class="dropdown-item data-grid-link">
                                <span class="ml-3">{{label}}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="container-fluid {{js_prefix}}" style="padding-top: 2.25em !important">
    <div id="popup-content" />
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function backToData(e, id) {
      e.preventDefault();
      let path = `dtale/main/${id}`;
      if (window.resourceBaseUrl) {
        path = `${window.resourceBaseUrl}/${path}`;
      }
      window.open(`${window.location.origin}/${path}`);
      return false;
    }

    window.onload = function () {
      $("body").click(function (e) {
        const target = $(e.target);
        if (target.is("a.data-grid-link")) {
          backToData(e, target.attr("href"));
        }
      });
    };
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/dtale_bundle.js') }}"></script>
{% endblock %}
