{
  "presets" : [
    ["@babel/env", { "targets": ["last 2 versions"] }],
    "@babel/react",
    "@babel/flow",
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "production": {
      "compact" : true
    }
  }
}
