*.pyc
*.egg-info

# test output files
.cache
.coverage
.DS_store
.eggs
.nyc_output
js_junit.xml
junit.xml
duplicates.xml
tap-output
results.tap
TEST-dtale-tests.xml
coverage.xml
htmlcov/
JS_coverage/

build/
dist/
node_modules/
npm-debug.log
.idea
.tern-port
.vscode
.project
.pydevproject
.python-version
docs/source/dtale*rst
docs/source/modules.rst

# built JS files
dtale/static/dist
dtale/static/dash
jest_tmp

# custom CLI loaders
custom_loaders/

# django test app
docs/django_test/dtale_test/db.sqlite3
package-lock.json
