{
    "trailingComma": "es5",
    "printWidth": 120,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "overrides": [
    {
        "files": "*.css",
        "options": {
            "singleQuote": true
        }
    }
    ]
}