lz4<=2.2.1; python_version < '3.0'
lz4; python_version > '3.0'
dash==1.21.0; python_version == '2.7'
dash>=2.0.0; python_version > '3.0'
dash-bootstrap-components<=0.10.5; python_version < '3.0'
dash-bootstrap-components; python_version > '3.0'
dash-colorscales
dash_daq
decorator==4.4.2; python_version == '2.7'
et_xmlfile<=1.0.1; python_version < '3.6'
et_xmlfile; python_version >= '3.6'
Flask<=1.1.4; python_version < '3.7'
Flask; python_version >= '3.7'
Flask-Compress
flask-ngrok; python_version > '3.0'
future>=0.14.0
itsdangerous<=1.1.0; python_version < '3.7'
itsdangerous; python_version >= '3.7'
kaleido==0.1.0; python_version <= '3.6'
kaleido; python_version > '3.6'
kiwisolver==1.1.0; python_version == '2.7'
MarkupSafe==1.1.1; python_version == '2.7'
matplotlib==2.2.5; python_version == '2.7'
matplotlib==3.3.4; python_version == '3.0'
matplotlib==3.3.4; python_version == '3.1'
matplotlib==3.3.4; python_version == '3.2'
matplotlib==3.3.4; python_version == '3.3'
matplotlib==3.3.4; python_version == '3.4'
matplotlib==3.3.4; python_version == '3.5'
matplotlib==3.3.4; python_version == '3.6'
matplotlib; python_version > '3.6'
missingno<=0.4.2
networkx==2.2; python_version < '3.0'
networkx; python_version >= '3.0'
numpy==1.16.6; python_version < '3.0'
numpy; python_version >= '3.0'
openpyxl==2.6.4; python_version < '3.0'
openpyxl; python_version >= '3.0'
pandas
plotly==4.14.3; python_version < '3.6'
plotly>=5.0.0; python_version >= '3.6'
ppscore; python_version >= '3.6'
pyparsing==2.4.7; python_version == '2.7'
requests
scikit-learn==0.20.4; python_version < '3.0'
scikit-learn==0.24.2; python_version > '3.0'
scipy==1.2.3; python_version == '2.7'
scipy<=1.5.4; python_version == '3.0'
scipy<=1.5.4; python_version == '3.1'
scipy<=1.5.4; python_version == '3.2'
scipy<=1.5.4; python_version == '3.3'
scipy<=1.5.4; python_version == '3.4'
scipy<=1.5.4; python_version == '3.5'
scipy<=1.5.4; python_version == '3.6'
scipy; python_version >= '3.7'
seaborn==0.9.1; python_version < '3.6'
seaborn; python_version >= '3.6'
squarify
statsmodels==0.10.2; python_version == '2.7'
statsmodels==0.12.2; python_version == '3.0'
statsmodels==0.12.2; python_version == '3.1'
statsmodels==0.12.2; python_version == '3.2'
statsmodels==0.12.2; python_version == '3.3'
statsmodels==0.12.2; python_version == '3.4'
statsmodels==0.12.2; python_version == '3.5'
statsmodels==0.12.2; python_version == '3.6'
statsmodels==0.12.2; python_version == '3.7'
statsmodels; python_version > '3.7'
strsimpy
six
xarray==0.11.3; python_version < '3.0'
xarray; python_version >= '3.0'
xlrd