lz4<=2.2.1; python_version == '2.7'
lz4<=3.1.10; python_version == '3.6'
lz4; python_version > '3.6'
beautifulsoup4!=4.13.0b2; python_version > '3.0'
beautifulsoup4<=4.9.3; python_version == '2.7'
Brotli<=1.0.9; python_version == '2.7'
certifi<=2021.10.8; python_version == '2.7'
certifi; python_version > '3.0'
cycler; python_version > '3.6'
cycler<=0.11.0; python_version == '3.6'
cycler<=0.10.0; python_version == '2.7'
dash<=1.21.0; python_version == '2.7'
dash<=2.0.0; python_version == '3.6'
dash!=2.13.0; python_version == '3.7'
dash<=2.18.2; python_version > '3.7'
dash-bootstrap-components==0.13.1; python_version == '2.7'
dash-bootstrap-components<=1.7.1; python_version > '3.0'
dash_daq<=0.5.0
dataclasses<1; python_version == '3.6'
decorator<=4.4.2; python_version == '2.7'
et_xmlfile<=1.0.1; python_version < '3.6'
et_xmlfile; python_version >= '3.6'
Flask<=1.1.4; python_version < '3.7'
Flask<2.3; python_version == '3.7'
Flask; python_version >= '3.8'
Flask-Compress<=1.15; python_version <= '3.8'
Flask-Compress; python_version > '3.8'
future>=0.14.0
immutables<=0.19; python_version == '3.6'
itsdangerous<=1.1.0; python_version < '3.7'
itsdangerous<=2.1.2; python_version == '3.7'
itsdangerous; python_version >= '3.8'
# required for loading scikit-learn
joblib<=1.1.1; python_version == '3.6'
joblib<=1.3.2; python_version == '3.7'
kaleido<=0.2.1; python_version <= '3.8'
kaleido; python_version >= '3.9'
kiwisolver<=1.1.0; python_version <= '3.6'
kiwisolver<=1.4.5; python_version == '3.7'
MarkupSafe<=1.1.1; python_version == '2.7'
MarkupSafe<=2.0.1; python_version == '3.6'
MarkupSafe<=2.1.5; python_version == '3.7'
MarkupSafe<=2.1.5; python_version == '3.8'
matplotlib<=2.2.5; python_version == '2.7'
matplotlib<=3.3.4; python_version == '3.6'
matplotlib<=3.5.3; python_version == '3.7'
matplotlib<=3.7.2; python_version == '3.8'
matplotlib; python_version >= '3.9'
missingno
networkx<=2.2; python_version <= '3.4'
networkx<=2.4; python_version == '3.5'
networkx<=2.5.1; python_version == '3.6'
networkx<=2.6.3; python_version == '3.7'
networkx<=3.1; python_version == '3.8'
networkx<=3.2.1; python_version == '3.9'
networkx; python_version > '3.9'
numpy<=1.16.6; python_version < '3.0'
numpy; python_version >= '3.0'
openpyxl<=2.6.4; python_version < '3.0'
openpyxl!=3.2.0b1; python_version >= '3.0'
packaging
pandas
plotly<=4.14.3; python_version < '3.6'
plotly; python_version >= '3.6'
pyparsing<=2.4.7; python_version == '2.7'
pyparsing<=3.0.9; python_version == '3.6'
pyparsing<=3.0.9; python_version == '3.7'
pyparsing<=3.0.9; python_version == '3.8'
requests; python_version >= '3.8'
requests<=2.31.0; python_version == '3.7'
requests<=2.27.1; python_version <= '3.6'
scikit-learn<=0.20.4; python_version < '3.0'
scikit-learn<=0.24.2; python_version == '3.6'
scikit-learn<=1.0.2; python_version == '3.7'
scikit-learn<=1.3.2; python_version == '3.8'
scikit-learn; python_version > '3.8'
scipy<=1.2.3; python_version == '2.7'
scipy<=1.5.4; python_version == '3.0'
scipy<=1.5.4; python_version == '3.1'
scipy<=1.5.4; python_version == '3.2'
scipy<=1.5.4; python_version == '3.3'
scipy<=1.5.4; python_version == '3.4'
scipy<=1.5.4; python_version == '3.5'
scipy<=1.5.4; python_version == '3.6'
scipy<=1.7.3; python_version == '3.7'
scipy<=1.10.1; python_version == '3.8'
scipy<=1.13.1; python_version == '3.9'
scipy!=1.12.0rc1,!=1.14.0rc1,!=1.14.0rc2,!=1.14.0,<1.16.0; python_version >= '3.10'
seaborn<=0.9.1; python_version < '3.6'
seaborn<=0.11.2; python_version == '3.6'
seaborn<=0.12.2; python_version == '3.7'
seaborn; python_version > '3.7'
squarify
statsmodels<=0.10.2; python_version == '2.7'
statsmodels<=0.12.2; python_version == '3.0'
statsmodels<=0.12.2; python_version == '3.1'
statsmodels<=0.12.2; python_version == '3.2'
statsmodels<=0.12.2; python_version == '3.3'
statsmodels<=0.12.2; python_version == '3.4'
statsmodels<=0.12.2; python_version == '3.5'
statsmodels<=0.12.2; python_version == '3.6'
statsmodels<=0.12.2; python_version == '3.7'
statsmodels<=0.14.1; python_version == '3.8'
statsmodels; python_version > '3.8'
strsimpy
six
# required for loading plotly
tenacity<=7.0.0; python_version == '3.6'
threadpoolctl<=3.1.0; python_version == '3.6'
threadpoolctl<=3.1.0; python_version == '3.7'
urllib3<=2.0.7; python_version == '3.7'
werkzeug<=1.0.1; python_version <= '3.6'
werkzeug==2.2.3; python_version == '3.7'
werkzeug; python_version > '3.7'
xarray<=0.11.3; python_version < '3.0'
xarray; python_version >= '3.0'
xlrd
zipp<=3.15.0; python_version == '3.6'
zstandard<=0.20.0; python_version == '3.6'
zstandard<=0.21.0; python_version == '3.7'
zstandard<=0.14.0; python_version == '2.7'
