.side-panel-content {
  position: absolute;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 0;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  height: calc(100vh);
  z-index: 10;
  background: white;

  &.is-expanded {
    width: calc(50vw);
  }

  &.is-expanded.missingno,
  &.is-expanded.correlations,
  &.is-expanded.pps {
    width: calc(75vw);
  }

  &.is-expanded.correlations .modal-body,
  &.is-expanded.pps .modal-body {
    padding: 0;
  }
  &.is-expanded.filter div.container {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-panel-content {
  width: 100%;
  height: 100%;
  transition: all 0.25s;

  &.is-half {
    width: 50%;
  }

  &.is-half.missingno {
    width: 25%;
  }

  &.is-half.correlations {
    width: 25%;
  }
}
