# built using python 3.7
bs4
Flask==1.1.4
future
ipython[notebook]
jinja2==2.11.3
markdown
matplotlib
missingno
nbsphinx==0.4.3
nbconvert<=6.0.2
pandas
prompt-toolkit<2.1.0,>=2.0.0
pyarrow
pyyaml
scipy
scikit-learn
sphinx==1.6.7
statsmodels
streamlit
xarray
xlrd
