.correlations-filters .Select__control {
  height: calc(1.51562rem + 2px);
}
.correlations-filters .Select__placeholder {
  height: calc(1.91562rem);
}

.CorrDragHandle {
  z-index: 2;
  cursor: row-resize;
  color: #0085ff;
  right: 0;
  position: absolute;
}
.CorrDragHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.CorrDragHandleActive,
.CorrDragHandleActive:hover {
  color: #0b6fcc;
  z-index: 3;
}

.CorrDragHandleIcon {
  justify-content: center;
  align-items: center;
  line-height: 0.25;
  width: 100%;
  text-align: center;
}
