div.charts-body input[type='checkbox'] {
  vertical-align: bottom;
}
div.charts-body {
  padding: 1em;
}
/*.charts-filters .Select__control,
.charts-filters .Select__value-container,
.charts-filters .Select__placeholder {
  height: calc(1.51562rem + 2px);
}*/
