.btn-group.column-sorting .btn.btn-primary {
  border: solid 1px #a7b3b7;
  -webkit-box-shadow: 0 1px 1px 0 rgba(112, 130, 136, 0.2);
  box-shadow: 0 1px 1px 0 rgba(112, 130, 136, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(#ebedee));
  background: linear-gradient(to bottom, white 80%, #ebedee);
  color: #404040;
}

.btn-group.column-sorting .btn.btn-primary:enabled:hover,
.btn-group.column-sorting .btn.btn-primary:enabled:focus {
  border: solid 1px #99a7ac;
  -webkit-box-shadow: 0 1px 1px 0 rgba(112, 130, 136, 0.3);
  box-shadow: 0 1px 1px 0 rgba(112, 130, 136, 0.3);
}

.btn-group.column-sorting .btn.btn-primary:enabled:active {
  border: solid 1px #99a7ac;
  -webkit-box-shadow: 0 0 1px 0 rgba(112, 130, 136, 0.3), 0 0 1px 0 #cfd4d7 inset;
  box-shadow: 0 0 1px 0 rgba(112, 130, 136, 0.3), 0 0 1px 0 #cfd4d7 inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebedee), to(white));
  background: linear-gradient(to bottom, #ebedee, white);
}

.btn-group.column-sorting .btn.btn-primary.active {
  border: solid 1px #88989e;
  -webkit-box-shadow: 0 0 3px 0 #88989e inset;
  box-shadow: 0 0 3px 0 #88989e inset;
  background: #a7b3b7;
  color: white;
}

.btn-group.column-sorting .btn.btn-primary.active:enabled:hover {
  border: solid 1px #88989e;
  -webkit-box-shadow: 0 0 3px 0 #88989e inset;
  box-shadow: 0 0 3px 0 #88989e inset;
  background: #a7b3b7;
  cursor: default;
}

.btn-group.column-sorting .btn.btn-primary.active:enabled:active,
.btn-group.column-sorting .btn.btn-primary.active:enabled:focus {
  border: solid 1px #88989e;
  -webkit-box-shadow: 0 0 3px 0 #88989e inset;
  box-shadow: 0 0 3px 0 #88989e inset;
  background: #a7b3b7;
}
