.contextVariables .cell,
.contextVariables .headerCell {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(170, 170, 170, 0.25);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contextVariables .headerCell {
  font-weight: bold;
}
