.cell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 0 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(170, 170, 170, 0.25);
}
.headerCell {
  font-weight: bold;
}

.cell.editable:hover {
  background: lightblue;
}

.cell.in-range,
.cell.in-range.editable:hover,
.headerCell.in-range {
  background: lightgrey;
  border-style: dashed;
  border-color: darkgrey;
}

.headerCell {
  align-items: center;
  text-align: center;
}

.headerCell.selected {
  background: black;
  color: white;
}

.headerCell div.text-nowrap div {
  display: inline;
}

html,
body,
.container-fluid,
#content {
  height: 100%;
  width: 100%;
  padding-top: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.crossed {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top right,
    rgba(170, 170, 170, 0) 0%,
    rgba(170, 170, 170, 0) calc(50% - 2px),
    rgba(170, 170, 170, 1) 50%,
    rgba(170, 170, 170, 0) calc(50% + 2px),
    rgba(170, 170, 170, 0) 100%
  );
}

.grid-menu {
  width: 50%;
  height: 50%;
  border-bottom: 2px solid rgb(170, 170, 170);
  border-right: 2px solid rgb(170, 170, 170);
  text-align: center;
  cursor: pointer;
}
.grid-menu:active,
.grid-menu.open {
  background: black;
  color: white;
}
.grid-menu span {
  font-size: 20px;
  line-height: 20px;
}
.rows {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}
.cols {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  padding-right: 4px;
}
