.cell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 0 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(170, 170, 170, 0.25);
}
.headerCell {
  font-weight: bold;
}

.cell.editable:hover {
  background: lightblue;
}

.resized,
.active-resize div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.rotate-header {
  transform: rotate(-90deg);
}

.active-resize {
  background-color: white;
  z-index: 20;
  position: fixed !important;
}

.cell.in-range,
.cell.in-range.editable:hover,
.headerCell.in-range {
  background: lightgrey;
  border-style: dashed;
  border-color: darkgrey;
}

.headerCell {
  align-items: center;
  text-align: center;
}

.headerCell.selected {
  background: black;
  color: white;
}

.headerCell div.text-nowrap div {
  display: inline;
}

html,
body,
.container-fluid,
#content {
  height: 100%;
  width: 100%;
  padding-top: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.crossed {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top right,
    rgba(170, 170, 170, 0) 0%,
    rgba(170, 170, 170, 0) calc(50% - 2px),
    rgba(170, 170, 170, 1) 50%,
    rgba(170, 170, 170, 0) calc(50% + 2px),
    rgba(170, 170, 170, 0) 100%
  );
}

.grid-menu {
  width: 50%;
  height: 50%;
  border-bottom: 2px solid rgb(170, 170, 170);
  border-right: 2px solid rgb(170, 170, 170);
  text-align: center;
  cursor: pointer;
}
.grid-menu:active,
.grid-menu.open {
  background: black;
  color: white;
}
.grid-menu span {
  font-size: 20px;
  line-height: 20px;
}
.rows {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}
.cols {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  padding-right: 4px;
}
.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  color: #0085ff;
  right: 0;
  position: absolute;
}
.DragHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive,
.DragHandleActive:hover {
  color: #0b6fcc;
  z-index: 3;
}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-pinned .main-grid {
  width: calc(100vw - 15.2em) !important;
}

.cell > html-cell {
  height: inherit;
  width: 100%;
}

.cell > html-cell img {
  height: inherit;
  width: inherit;
}

.cell img:hover {
  position: fixed;
  width: 500px !important;
  height: auto !important;
  display: block;
  z-index: 999;
  border-radius: 0.25rem;
  border: 1px solid #a7b3b7;
}
